#t1{

    width: 100%;
    height: 121px;
    float: left;
}
#title{
    background-color: #999999;
    width:100%;
    height: 35px;
    float: left;
}
#title:hover{
    background-color:#DFE9F6 ;
}
p{
    margin-left: 8px;
    margin-top: 2px;
}